  ul.slick-dots {
    text-align: left;
    position: relative;
    margin-left: 40px !important;
  }

  ul.slick-dots::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    top: 10px;
    left: -40px;
    border-radius: 10px;
    background-color: red;
  }

  .slick-dots li button:before {
    content: " ";
  }

  .slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #DDE0E4;
  }

  .slick-dots li.slick-active button {
    background: red;
  }

  .slick-slider {
    padding-bottom: 80px;
  }

  .slick-prev {
    width: 40px !important;
    height: 40px !important;
    z-index: 1 !important;
    left: -50px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .slick-next {
    width: 40px !important;
    height: 40px !important;
    z-index: 1 !important;
    right: -50px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .slick-prev:before {
    position: absolute;
    left: 10px;
    bottom: 50px;
  }

  .slick-next:before {
    position: absolute;
    right: 10px;
    bottom: 50px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 40px !important;
    line-height: 1;
    opacity: 1 !important;
    color: #DDE0E4 !important;
  }

  @media screen and (max-width: 1200px) {
    .slick-next:before,
    .slick-prev:before {
      display: none;
    }
  }

  .slick-track {
    display: flex !important;
    justify-content: space-between !important;
  }

  .slick-slide {
    display: flex !important;
    justify-content: center !important;
  }
