
.whiteLink,
.services__hero--link {
  margin-bottom: 15px;
  padding-top: 130px;
  color: #fff;
}
.redLink {
  color: red;
}
.services__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__hero--title {
  margin-bottom: 14px;
  font-family: Poppins;
  font-size: 33px;
  font-weight: 600;
  line-height: 59.56px;
  text-align: center;
  color: #ffffff;
}
.services__hero--text {
  margin-bottom: 45px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.services__hero--row{
  margin-bottom: 120px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
 @media screen and (max-width:1200px){
  .services__hero--row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width:800px){
  .services__hero--row{
    display: grid;
    grid-template-columns: 1fr;
  }
}