.teamCard {
  padding: 35px 75px 30px;
  border-radius: 20px;
  background: rgba(28, 20, 15, 1);
  text-align: center;
}
.teamCard__title {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 600;
  line-height: 38.48px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.teamCard__text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 32.4px;
  text-align: left;
  color: rgba(232, 232, 232, 1);
  text-align: center;
}
/* ///// */
.commonCall {
  padding: 40px 50px;
  background: rgba(28, 20, 15, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commonCall__left--title {
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.commonCall__left--text {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
form{
  position: relative;
}
.commonCall__right input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  padding: 14px 110px 14px 20px;
  outline: none;
}
.commonCall__right button {
  position: absolute;
  right: 6px;top: 9px;
  padding: 8px 13px 9px 22px;
  border-radius: 8px;
  border: none;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: rgba(216, 0, 39, 1);
}
@media screen and (max-width: 850px) {
  .teamCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .teamCard__title,
  .teamCard__text {
    text-align: center;
  }
  .commonCall{
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px){
  .commonCall__right button{
    position: relative;
    right: 0;
  }
  .commonCall__right input{
    padding: 10px 25px 10px 5px;
  }
}
@media screen and (max-width: 430px){
  .commonCall{
    padding: 20px 20px;
  }
}
