@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  transition: 0.4s;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #070320;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  width: 100%;
  max-width: 1250px !important;
  margin: 0px auto;
  padding: 0px 40px !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#about {
  background: linear-gradient(
    179.5deg,
    #070320 42.53%,
    #050d7c 61.57%,
    #2b36b5 87.08%
  );
}

.about__container--request {
  padding-top: 80px;
}
.about__container--request--title {
  margin-bottom: 63px;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 45.12px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.response__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 43px;
  position: relative;
}
.response__box {
  margin-bottom: 147px;
  position: relative;
  padding: 64px 37px;
  border-radius: 20px;
  box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  overflow: hidden;
}

.response__box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(
    179.5deg,
    #070320 42.53%,
    #050d7c 61.57%,
    #2b36b5 87.08%
  );
  z-index: -1;
}

.response__box--text1 {
  padding: 7px 35px 6px 14px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: left;
  background: rgba(176, 0, 220, 0.11);
  display: inline-block;
}

.container {
  padding: 0;
}

.response__box--title {
  font-family: Poppins;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 37.5px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.response__box--text2 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .response__box {
    padding: 40px 20px;
  }
}
.about__container--info {
  padding-top: 113px;
  background-color: #fff;
}
.about__container--info2 {
  display: flex;
  gap: 95px;
}
.about__container--info--right {
  max-width: 536px;
}
.info--right--text1 {
  margin-top: 21px;
  margin-bottom: 14px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 32.4px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.info--right--title {
  margin-bottom: 14px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 44.1px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.info--right--text2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
}

/* team */
.about__container--team {
  padding-top: 148px;
  padding-bottom: 130px;
}
.about__container--team--title {
  margin-bottom: 53px;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 45.12px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.team__members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 28px;
  align-items: center;
}

/* call */
.about__container--call {
  padding-bottom: 150px;
}
.about__container--call--title {
  margin-bottom: 32px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 56.25px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.about__container--call-text {
  margin-bottom: 74px;
  font-family: Poppins;
  max-width: 545px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
@media screen and (max-width: 1100px) {
  .response__box {
    padding: 40px 20px;
  }
  .response__container {
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .about__container--info2 {
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .about__container--info--left img {
    width: 100%;
    height: auto;
    margin-bottom: -100px;
  }
  .about__container--info--right {
    max-width: 100%;
  }
  .about__container--info {
    padding-top: 50px;
  }
}
@media screen and (max-width: 850px) {
  .response__container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  .response__box {
    margin-bottom: 20px;
  }

  .response__box {
    margin-bottom: 20px;
  }
  .about__container--request--title {
    margin-bottom: 30px;
    text-align: center;
  }
}
.about__container--team {
  padding-left: 20px;
  padding-right: 20px;
}

.team__members {
  gap: 20px;
  justify-content: center;
}
.about__container--team {
  padding-top: 40px;
  padding-bottom: 30px;
}
.about__container--call {
  padding-left: 20px;
  padding-right: 20px;
}
