@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #070320;
}

a {
	text-decoration: none;
}

ol,
ul {
	margin: 0 !important;
	padding: 0 !important;
}

.container {
	width: 100%;
	max-width: 1250px !important;
	margin: 0px auto;
	padding: 0px 40px !important;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

#about {
	margin-top: 34px;
}
#about,
#services {
	background: linear-gradient(
		179.5deg,
		#070320 42.53%,
		#050d7c 61.57%,
		#2b36b5 87.08%
	);
}

/* contact page css */

.contacts {
	width: 100%;
	height: 2687px;
	/* margin-top: 100px; */
}


.contact-top {
	background: linear-gradient(177.34deg, #070320 25.05%, #05119D 100%, #2351F5 92.85%);
	padding: 100px 0;
}


